body{
    background:linear-gradient(to right,beige, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#about-me{
    background-color: palegoldenrod;
    color:red;
    opacity: 1.0;
    text-align: center;
    font-size: 30px;
    font-family: "press Start 2P", "consolas", "sans-serif";
    border-style: outset;
    border-width: 20px;
    border-color: gold;
    border-radius: 100px;
    padding: 8px;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    margin: auto;
    aspect-ratio: auto;
}
@keyframes colorChange{
    0%{background-color: teal;}
    25%{background-color: blue;}
    50%{background-color: green;}
    75%{background-color: orange;}
    100%{background-color: purple;}
}
h2{
    color: brown;
    background-color: bisque;
    font-family: "consolas", "sans-serif";
    font-size: 25px;
    font-style: italic;
    text-decoration: black underline;
    border-style: inset;
    border-width: 5px;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
}
h3{
    color: brown;
    background-color: bisque;
    font-family: "consolas", "sans-serif";
    font-size: 25px;
    font-style: italic;
    text-decoration: black underline;
    border-style: inset;
    border-width: 5px;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
}
p{
    background-image: url("Pictures/beautifulbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
    font-weight: bold;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    padding: 20px;
}
h5{
    text-shadow: 0px 0px 5px yellow;
}
#face{
    border: 4px solid;
    width: 450px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    animation: myFaceSlide;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-play-state: running;
    animation-timing-function: ease-in;
}
@keyframes myFaceSlide{
    from{margin-left: 100%;}
    to{margin-left: 25%;}
}

#cpp-club-pic{
    border: 5px solid;
    width: 200px;
    height: 200px;
 margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
table, td, th {
    border: 1px solid;
}
table{
    width: 100%;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
a:hover{
    box-shadow: 5px 5px 5px black;
}
a:link{
    color: purple;
}
a:visited{
    color: red;
}
a:hover{
    color: aqua;
}
a:active{
    color:yellow
}
.movies{
    text-align: center;
}
ul{
list-style-type: square;
}
img{
    opacity: 0.9;
}
#movies:hover{
    animation: movieRotate;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-play-state: running;
    animation-timing-function: ease-in;
}
@keyframes movieRotate{
    100%{transform: rotateX(360deg)}
}
#tv-shows:hover{
    animation: showOpacity;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-play-state: running;
    animation-timing-function: ease-in;
}
@keyframes showOpacity{
    50%{opacity: 0;}
}
#bbal{
    cursor: crosshair;
}